/* 
   !!! Mettre tous les codes css dans la bonne section 
   !!! pour un meilleur maintien du code
*/

/*
/// Section imports
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
/// Section variables
/// Toujours utiliser ces variables pour les couleurs
/// Exemple d'utilisation: color: var(--blue)
*/

:root {
    --blue: #4498BB;
    --light-blue: #E9F0F8;
    --dark-blue: #0c1b22;
    --dark-blue-transparent: hsla(199, 48%, 9%, 0.33);
    --white: #FFFFFF;
}

/*
/// Section globales
*/

body {
    margin: 0;
    font-family: 'Open Sans',serif;
}

.text-white {
    color: var(--white);
}

.clickable {
    cursor: pointer;   
}

.hover-translate {
    transform: translateX(0px) translateY(0px);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

.hover-translate:hover {
    transform: translateX(2px) translateY(-1px);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

.hover-translate:active {
    transform: translateX(0px) translateY(0px);
}

.container {
    margin-top: 128px;
    width: min(90%, 1240px);
    height: 400px;
    background-color: var(--light-blue);
    margin-left: auto;
    margin-right: auto;

}

/*
/// Section Navigation
*/

.navigation {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-container {
    width: min(90%, 1240px);
    display: flex;
    justify-content: space-between;
}

.nav-element {
    display: flex;
    align-items: center;
    gap: 16px;
}

#input-nav-bar {
    width: min(40vw, 100vw - 153px - 105px - 91px);
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 16px;
    color: var(--blue);
}

#input-nav-bar::placeholder {
    color: var(--blue);
}

.nav-element > button {
    border: none;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 2px 2px 5px var(--dark-blue-transparent);
    transition: all 330ms ease-in-out;
    transition-property: transform, background-color;
}

.nav-element > button:hover {
    cursor: pointer;
    transition: all 330ms ease-in-out;
    transition-property: transform, background-color;
}

.nav-element > button:active {
    background-color: var(--light-blue);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

/*
/// Section post creation
*/




/*
/// Section post feed
*/


/*
/// Section offre
*/

#post-offre-container{
    position: absolute;
    width: 393px;
    height: 43px;
    left: 258px;
    top: 238px;

    font-family: Amiko;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    /* identical to box height */

    color: #4498BB;
}

.post-offre{
    position: absolute;
    width: 141px;
    height: 52px;
    left: 535px;
    top: 418px;
}

.offre-postuler{
    position: absolute;
    width: 151px;
    height: 42px;
    left: 555px;
    top: 623px;
}

.clickable-valider1{
    position: absolute;
    width: 151px;
    height: 42px;
    left: 555px;
    top: 623px;
}

.clickable-valider2{
    position: absolute;
    width: 121px;
    height: 12px;
    left: 620px;
    top: 912px;

    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
/* or 18px */
    color: #000000;
}

#contenu-offre1{
    position: absolute;
    width: 790px;
    height: 21px;
    left: calc(50% - 790px/2);
    top: 860px;

    font-family: Alef;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #181818;
}

#titre-offre1{
    position: absolute;
    width: 141px;
    height: 52px;
    left: 565px;
    top: 792px;
}


/*
/// Section ...
*/


