/* 
   !!! Mettre tous les codes css dans la bonne section 
   !!! pour un meilleur maintien du code
*/

/*
/// Section imports
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
/// Section variables
/// Toujours utiliser ces variables pour les couleurs
/// Exemple d'utilisation: color: var(--blue)
*/

:root {
    --blue: #4498BB;
    --light-blue: #E9F0F8;
    --dark-blue: #0c1b22;
    --dark-blue-transparent: hsla(199, 48%, 9%, 0.33);
    --white: #FFFFFF;
}

/*
/// Section globales
*/

body {
    margin: 0;
    margin-top:70px;
    font-family: 'Open Sans',serif;
}

.text-white {
    color: var(--white);    
}

.clickable {
    cursor: pointer;   
}

.hover-translate {
    transform: translateX(0px) translateY(0px);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

.hover-translate:hover {
    transform: translateX(2px) translateY(-1px);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

.hover-translate:active {
    transform: translateX(0px) translateY(0px);
}

.container {
    margin-top: 128px;
    width: min(90%, 1240px);
    margin-left: auto;
    margin-right: auto;

}

/*
/// Section Navigation
*/

.navigation {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-container {
    width: min(90%, 1240px);
    display: flex;
    justify-content: space-between;
}

.nav-element {
    display: flex;
    align-items: center;
    gap: 16px;
}

#input-nav-bar {
    width: min(40vw, 100vw - 153px - 105px - 91px);
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 16px;
    color: var(--blue);
}

#input-nav-bar::placeholder {
    color: var(--blue);
}

.nav-element > button {
    border: none;
    height: 100%;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 2px 2px 5px var(--dark-blue-transparent);
    transition: all 330ms ease-in-out;
    transition-property: transform, background-color;
}

.nav-element > button:hover {
    cursor: pointer;
    transition: all 330ms ease-in-out;
    transition-property: transform, background-color;
}

.nav-element > button:active {
    background-color: var(--light-blue);
    transition: all 330ms ease-in-out;
    transition-property: transform;
}

/*
/// Section post creation
*/

.post-creation-box {
    width: 100%;
    border-top: 1px solid var(--blue);
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#post-creation-textarea {
    width: 95%;
    height: 128px;
    border: none;
}

.post-creation-box 

/*
/// Section post feed
*/

.post-container {
    padding: 32px 0px ;
    border-bottom: 1px solid var(--blue);
}

.post-navigation-date {

}

.post-navigation-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-navigation-profile * {
    margin: 0;
}

.post-body {
    margin-top: 32px;
    margin-bottom: 64px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

/*
/// Page Entreprise 
*/


.NomEntreprise {
   
/*position: absolute;*/
width: 94px;
height: 43px;
/*left: 518px;
top: 249px;*/

font-family: Amiko;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 43px;
/* identical to box height */

color: #4498BB;
}
.ClasseNomOffre {
    /*position: absolute;*/
    width: 251px;
    height: 54px;
    /*left: 620.5px;
    top: 243px;*/
    
    background: #FFFFFF;
    border: 3px solid #4498BB;
    box-sizing: border-box;
    border-radius: 15px;
}
.VilleEntreprise{
    width: 65px;
    height: 32px;

    font-family: Amiko;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
/* identical to box height */
    color: #4498BB;
}
.ClasseVilleOffre{
    width: 178px;
height: 38px;

background: #FFFFFF;
border: 3px solid #4498BB;
box-sizing: border-box;
border-radius: 15px;
}
.nav-Save-post{
    
width: 377px;
height: 32px;

font-family: Amiko;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height */
text-decoration-line: underline;

color: #4498BB;
}
.DescrEntreprise{
    position: absolute;
width: 163px;
height: 35px;

font-family: Amiko;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 35px;
/* identical to box height */

color: #4498BB;
}
.OffreDesciption{
    width: 1199px;
height: 115px;


background: #FFFFFF;
border: 3px solid #4498BB;
box-sizing: border-box;
border-radius: 15px;
}
#Votre_Offre{
    
width: 195px;
height: 46px;

font-family: Amiko;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 43px;

color: #4498BB;
}
#nav-Import-offer{
   
    /*position: absolute;
    width: 1199px;
    height: 217px;
    left: 518px;
    top: 870px;*/

    width: 1199px;
    height: 217px;
    
    background: #FFFFFF;
    border: 3px dashed #4498BB;
    box-sizing: border-box;
    border-radius: 15px;
}
#Televerser{
    width: 245.66px;
    height: 64.06px;
    justify-content: center;
}
.Offer-add{
    width: 670px;
    height: 45px;


    font-family: Amiko;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #4498BB;

    transform: rotate(0.17deg);
}
#Description_Offre{
    width: 237px;
height: 35px;


font-family: Amiko;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 35px;
/* identical to box height */

color: #4498BB;
}
.In_Offre_Desciption{
    width: 1199px;
    height: 115px;


background: #FFFFFF;
border: 3px solid #4498BB;
box-sizing: border-box;
border-radius: 15px;
}
#CadreSubmitPost{
    width: 332.66px;
    height: 61px;


}
.Poster_Offre{
    
width: 332.66px;
height: 61px;
justify-content: right;

background: #FFFFFF;
border: 3px solid #4498BB;
box-sizing: border-box;
border-radius: 15px;
}